@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Lviv Polytechnic National University</title>
    <style>

    </style>
</head>
    <body>

        <br />
        <br />
        <br />
        <br />
        <h4 align="center" >Лабораторна робота №8</h4>
        <br />
        <p align="center">Виконала</p>
        <p align="center">студентка групи КН-222</p>
        <p align="center">Руснак Христина</p>

    </body>
</html>>